<article class="recipe-container f c">
<a class="recipe-info f r">
<div class="left-block">
<h3 class="recipe-name"><%= recipe.name %></h3>
<%= render 'shared/delete_recipe', recipe: recipe%>
</div>
<p class="recipe-description"><%= recipe.description %></p>
</a>
</article>