<div class="homepage">
  <p>Hi, <%= current_user.name %></p>
  <h1>Welcome to Our Recipe App!</h1>
  <p>Introducing the Ultimate Recipe App, your go-to culinary companion for all your cooking adventures! This app is designed to make your cooking experience seamless, enjoyable, and delicious.</p>
</div>