.shopping-list-page {
    border: 1px solid #000;
    width: 100%;
    margin: auto;
    text-align: center;
}

.amount-total {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    width: 100%;
    margin: 10px auto;
}