.shopping-list-page {
  border: 1px solid #000;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 4%;
}

.shopping-list-page > h2 {
  margin: auto;
}

.amount-total {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto;
  font-weight: 600;
}

.amount-total > :nth-child(1) {
  margin: 0.5rem;
  text-align: left;
} 

.amount-total > :nth-child(2) {
  margin: 0.5rem;
  text-align: right;
} 
